*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
}
/* header styles */
header {
    background-image: url(./images/developer.png), url(./images/header_bg.png);
    background-repeat: no-repeat;
    background-color: #FFF8F3;
    background-position:left,bottom right ;
    margin-bottom: 130px;
}
/* nav styles */
.nav-title{
    font-size: 45px;
    font-weight: 800;
}
.nav-title-primary-color{
    color: #FD6E0A;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 51px 230px ;
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    padding-left:  51px ;
    font-size: 20px;

}
.primary-button{
    border-radius: 5px;
    background: #FD6E0A;
    color: white;
    padding: 18px 36px;
    font-size: 20px;
    font-weight: 700;
    border: 0;
}
/* banner styles */
.banner{
    padding: 0 60px 0 180px;
    display: flex;
    align-items:center ;
}

.banner-subtitle{
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    padding-bottom: 20px;
}
.banner-text{
    color: #757575;
    font-size: 18px;
    padding-bottom: 30px;

    
}

.btn-outline{
    padding: 18px 23px;
    border-radius: 5px;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    font-size: 20px;
    background-color: #FFF8F3;
    margin-left: 47px;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}
/* About section styles */
.about{
    border-radius: 10px;
    background: #FFF8F3;
    padding: 131px 155px;
    margin-bottom: 130px;
}
.section-title{
    text-align: center;
    font-size: 35px;
}
.section-description{
    text-align: center;
    padding: 30px 0;
    color: #757575;
}
.info-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.info-title{
    font-size: 20px;
    color: #757575;
}
.info-details{
    font-size: 20px;
    color: #474747;
    font-weight: 700;
}

/* What I do Section styles */
.what-i-do{
    margin-bottom: 130px;
}
.what-i-do-description{
    padding: 30px 10% 50px 10%;
    color: #757575;
    text-align: center;
}
.skill-card-container{
    display: flex;
    justify-content: space-between;
    gap: 24px;

}
.card{
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    padding: 30px;
}
.card-title{
    padding: 30px 0;
    color: var(--dark-01, #181818);
    font-size: 20px;
    font-weight: 700;
}
.card-description{
    font-size: 16px;
    color: var(--dark-03, #757575);
}
/* resume section styles */
.resume{
    margin-bottom: 130px;
}
.resume-parent{
    display: flex;
    gap: 24px;
    padding: 113px 0 0 0 ;
}
.education{
    padding: 0 50px;
}
.experience{
    padding: 0 50px;
}
.resume-title{
    color: var(--dark-02, #474747);
    font-size: 30px;
    font-weight: 700;
}
.resume-subtitle{
    color: var(--dark-02, #474747);
    font-size: 25px;
    font-weight: 700;
    padding: 30px 0 10px 0;
    
}
.resume-year{
    color: var(--dark-03, #757575);
    font-size: 20px;
    font-weight: 600;
    padding: 0 0 20px 0;
}
.resume-description{
    color: var(--dark-03, #757575);
    font-size: 16px;
    padding: 0 0 30px 0;
}
hr{
    background: #D1D1D1;
    height: 1px;
}
.button-container{
    text-align: center;
    padding: 50px 0 113px 0;
}